* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  /* display: flex; */
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  line-height: 25px;
  background-color: #b07cf7;
}

header {
  margin-top: 100px;
  text-align: center;
  /* width: 100%; */
}

.bigbox {
  width: 100%;
  max-height: 864px;
}

.container {
  display: flex;
  margin-top: 47px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 90px;
  font-weight: 700;
}

.text p {
  font-size: 17px;
  font-weight: 300;
}

.text {
  max-width: 570px;
  height: 63px;
  text-align: center;
  margin: 0 auto;
}

.blog {
  margin-bottom: 70px;
}

a {
  text-decoration: none;
  font-family: Raleway;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #ffffff;
}

span {
  display: block;
  font-size: 13px;
  font-weight: 300;
}

.content1 {
  width: 300px;
  position: absolute;
  left: 20px;
  bottom: 23px;
}

.flex1 {
  margin: 20px;
  position: relative;
}

.buttom {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 55px;
  background-color: #f72b3b;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 17px;
}

.imgdata {
  position: absolute;
  top: 30px;
  left: 30px;
}

.flex1:hover {
  box-shadow: 3px 3px 3px 3px oldlace;
  opacity: 0.5;
}
.buttom:hover {
  box-shadow: 3px 3px 3px 3px oldlace;
  opacity: 0.5;
}
